html {
    font-size: 14px;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(255, 181, 181);
}

.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}


.hide {
    display: none;
}

details {
    padding: 8px;
    cursor: pointer;
    background-color: rgb(220, 250, 216);
    border-radius: 20px;
}

table, tr, th, td {
    border: 1px solid gray;
}

table {
    width: 100%;
}

th, td {
    padding: 6px;
}

tr {
    height: 70px;
}

.cursor-default {cursor: default;}

#table-row-fighter:hover {
    background-color: rgb(222, 100, 100);
    border: 5px solid black;
    box-shadow: 2px 2px 2px black;
}

#table-row-rogue:hover {
    background-color: rgb(222, 150, 100);
    box-shadow: 2px 2px 2px black;
}

#table-row-wizard:hover {
    background-color: rgb(222, 200, 100);
    box-shadow: 2px 2px 2px black;
}